@import "tailwindcss";

:root{
  --bg-color: #ffe3bb;
  --orange: #ffa673;
  --red: #c51717;
  --green-select: #03a6a1;
  --black: #232b2b;
  --grade-green: #3ac517;
  --grade-yellow: #d1e52c;

}

body{
  background-color: var(--bg-color);
  color: var(--black);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}